body {
	font-family: "Oxanium", cursive;
	background-color: hsl(0, 0%, 0%);
	color: #ffffff;
}

body::before{
    content: "";
    background-image: url(../imagem/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: -1;
    opacity: 0.2;
}

.cabecalho {
	display: flex;
	justify-content: center;
	height: 120px;
	padding-top: 20px;
}

.selecao-de-personagens {
	display: flex;
	align-items: center;
	gap: 30px;
    min-height: calc(100vh - 120px);
    justify-content: center;
}

.selecao-de-personagens .lista-de-personagens {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.selecao-de-personagens .personagens {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 590px;
	gap: 25px;
}

.selecao-de-personagens .personagens .titulo {
	font-size: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	border-bottom: 2px solid #47f4ff;
	width: 100%;
	text-align: center;
}

.lista-de-personagens .personagem img {
	width: 110px;
	height: 110px;
}

/* .lista-de-personagens .personagem.selecionado {
	box-shadow: 0px 0px 24px 5px #0271f7;
} */

.personagem-selecionado {
    text-align: center;
    max-height: 530px;
}

.personagem-selecionado .personagem-grande{
    width: 307px;
    height: 400px;
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 500px;
}


